<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210966700178-olln5ept86c7l4dd7p73ml25em5daliq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210966700178-olln5ept86c7l4dd7p73ml25em5daliq</string>
	<key>API_KEY</key>
	<string>AIzaSyDqxmbNi0f4EhUiIA2nL7RR-SN-vJdtjfs</string>
	<key>GCM_SENDER_ID</key>
	<string>210966700178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.duke.cs207.FinalProjSTB</string>
	<key>PROJECT_ID</key>
	<string>final-split</string>
	<key>STORAGE_BUCKET</key>
	<string>final-split.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210966700178:ios:59e84f3b02921845acc64b</string>
</dict>
</plist>